<div class="row">
  <%= render 'layouts/header' %>
</div>
<%= render 'users/profile' %>
<div class="row">
  <div class="container">
    <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "flash-success" %>
    <% end -%>
  </div>
</div>
<%= render 'users/user_post' %>
